body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F9F3E7;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-left {
    background-color: #A0781B;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .login-left img.logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .login-left h1,
  .login-left h2 {
    margin: 0;
  }
  
  .login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-right h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-right p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #A0781B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #8a6217;
  }
  