* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}
/* src/css/App.css */
.app {
  display: flex;
}

.content {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 20px;
  width: calc(100% - 200px);
}
